<div class="background">
    <form class="inputBox" [formGroup]="form">
        <span id="wantCourse"><b>The Degree I Want </b></span>
        <input id="wantedCouseInput" class="form-control" placeholder="ex: Computer Science.." formControlName="wantedCourse">
        <h3>Courses I have taken...</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Course+ID</span>
            </div>
            <input appFormatCourseCode type="text" appFormartCourseCode formControlName="courseTaken" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            <button type="button" class="btn btn-primary" (click)="addCourse()">Add</button>
        </div>
        <div *ngIf="errorCourseAdd != ''" class="alert alert-danger" role="alert">
            {{errorCourseAdd}}
        </div>
        <div class="coursesTaken">
            <button *ngFor="let course of coursesTaken" type="button" class="btn btn-info takenCourseRect">{{course}}</button>
        </div>
        <button type="button" class="btn btn-success" (click)="submit()">Go</button>
        <div *ngIf="searched" class="box">
            <h3>To complete the degree, you would need to take the followings: </h3>
            <div *ngFor="let req of degreeReq">
                <p>
                    {{req.quantity}} of the following:
                    <span *ngFor="let course of req.course;let index=index;let last = last">
                        <span *ngIf="index < 9" (click)="getPrereqGraph(course)">{{course}}<span *ngIf="!last">, </span> <span *ngIf="!last && index == 8"> and others </span></span>
                    </span>
                </p>
            </div>
        </div>
    </form>
</div>