.background {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coursesTaken {
    margin: 1rem;
}

.inputBox {
    margin-top: 1rem;
    width: 60%;
    height: 70%;
}

.box {
    padding-top: 1rem;
}

.takenCourseRect {
    margin-right: 0.5rem;
}

#wantedCouseInput {
    width: 80%;
}

#wantCourse {
    font-size: 1.5rem;
}

h3 {
    margin-top: 1rem;
}

.span-clickable {
    text-decoration: underline;
    text-decoration-color: blue;
    color: blue;
}