<div class="background">
    <form class="inputBox" [formGroup]="form">
        <span id="formPrompt"><b>The Degree I Want </b></span>
        <input id="wantedCouseInput" list="degrees" class="form-control" placeholder="ex: Computer Science.." formControlName="wantedCourse" autocomplete="off">
        <datalist id="degrees">
            <option *ngFor="let d of degrees" [value]="d">
        </datalist>
        <span id="formPrompt"><b>Courses I Have Taken</b></span>
        <div class="input-group mb-3 extraMargin">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Course Code</span>
            </div>
            <input appFormatCourseCode type="text" appFormartCourseCode formControlName="courseTaken" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            <button id="buttonMarginLeft" type="button" class="btn btn-primary" (click)="addCourse()">Add</button>
        </div>
        <div *ngIf="errorCourseAdd != ''" class="alert alert-danger" role="alert">
            {{errorCourseAdd}}
        </div>
        <div class="coursesTaken">
            <button *ngFor="let course of coursesTaken" type="button" class="btn btn-info takenCourseRect">{{course}}</button>
        </div>
        <button type="button" class="btn btn-success" (click)="submit()">Go</button>
        <div *ngIf="searched && degreeReq.length > 0" class="box">
            <span id="formPrompt"><b>To complete your degree, you'll need to take the following courses: </b></span>
            <div *ngFor="let req of degreeReq">
                <p>
                    {{req.quantity}} of the following:
                    <span *ngFor="let course of req.course;let index=index;let last = last">
                        <span *ngIf="index < 9" (click)="getPrereqGraph(course)"><span class="span-clickable"> {{course}}</span><span *ngIf="!last">, </span> <span *ngIf="!last && index == 8"> and others </span></span>
                    </span>
                </p>
            </div>
        </div>
        <div *ngIf="searched && degreeReq.length == 0" class="box">
            No degree found
        </div>
    </form>
</div>