<form class="container">
    <span id="formPrompt"><b>Professor Search</b></span>
    <div>
        <mat-form-field class="example-full-width">
            <input name="firstName" [(ngModel)]="firstName" type="text" matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input name="lastName" [(ngModel)]="lastName" type="text" matInput placeholder="Last Name">
        </mat-form-field>

        <button type="button" class="btn btn-success" (click)="submit()" style="border-color: #0f8af5; border-width: 1px; background: white; color: #0f8af5;">Search</button>
    </div>

    <div class="flex-container">
        <ng-container *ngFor="let prof of profsearchRes;let i = index">
            <div (click)="openprofdetailpopup(i)">{{prof[0]}} {{prof[1]}}</div>
        </ng-container>
        <p *ngIf="searched && profsearchRes?.length==0">No Professors found</p>
    </div>
</form>