<form class="container">
    <span id="formPrompt"><b>Professor Search</b></span>
    <div>
        First Name:
        <mat-form-field class="example-full-width">
            <input name="firstName" [(ngModel)]="firstName" type="text" matInput placeholder="Example first name...">
        </mat-form-field>

        LastName:
        <mat-form-field class="example-full-width">
            <input name="lastName" [(ngModel)]="lastName" type="text" matInput placeholder="Example last name...">
        </mat-form-field>

        <button type="button" class="btn btn-success" (click)="submit()">Search</button>
    </div>

    <div class="flex-container">
        <ng-container *ngFor="let prof of profsearchRes;let i = index">
            <div (click)="openprofdetailpopup(i)">{{prof[0]}} {{prof[1]}}</div>
        </ng-container>
        <p *ngIf="searched && profsearchRes?.length==0">No Professors found</p>
    </div>
</form>