<form class="container" [formGroup]="inputForm">
    <span id="formPrompt"><b>Add A New Course</b></span>
    <div>
        <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Course Code" formControlName="courseCode">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Title" formControlName="title">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Description" formControlName="description">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Course Types" formControlName="courseTypes">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Term Code (end in 9,5,1)" formControlName="termCode">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Credit" formControlName="credit">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Sections" formControlName="sections">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Section Size" formControlName="sectionSize">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Prof First Name" formControlName="profFirstName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Prof Last Name" formControlName="profLastName">
        </mat-form-field>
    </div>

    <div formArrayName="prereqList">
        <div *ngFor="let address of inputForm.controls.prereqList.controls; let i=index">
            <mat-form-field class="example-full-width" [formGroupName]="i">
                <input appFormatCourseCode type="text" matInput placeholder="Prerequisite {{i + 1}}" formControlName="prereq">
            </mat-form-field>
            <button mat-raised-button color="secondary" (click)="removeLink(i)">Remove</button>
            <!-- If statments are cool: *ngIf="inputForm.controls.prereqList.controls.length > 1" -->
        </div>
    </div>
    <div>
        <button mat-raised-button type="button" color="primary" (click)="addLink()">Add Prerequisite</button>
    </div>

    <div class="submit">
        <button mat-raised-button color="success" (click)="submit()">Submit</button>
    </div>
    <div *ngIf="validationMsg != ''" class="alert alert-danger" role="alert">
        {{this.validationMsg}}
    </div>
    <div *ngIf="errorMsg != ''" class="alert alert-danger" role="alert">
        {{this.errorMsg}}
    </div>
    <div *ngIf="successMsg != ''" class="alert alert-success" role="alert">
        {{this.successMsg}}
    </div>
</form>