<!-- <mat-sidenav-container class="mat-sidenav-container"> -->
    <!-- <mat-sidenav #mySideNav mode="side" class="sidenavcontent">
      <app-sidenavcontent></app-sidenavcontent>
  </mat-sidenav> -->
  <!-- <mat-sidenav-content> -->
    <!-- <div class="tab-button-container">
      <div class="tab-buttons" *ngFor="let tree of treeLists">
        <div [ngClass]=" currentlySelectedTreeId == tree[0].id ? 'tab-selected': 'tab-not-selected'" (click)="differentTreeSelected(tree)">
            {{tree[0].name}}
        </div>
      </div>
    </div> -->
    <div>
      <app-treepane  [treelist]="currentlySelectedTree"></app-treepane>
    </div>
  <!-- </mat-sidenav-content> -->
<!-- </mat-sidenav-container> -->

