.mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
.sidenavcontent {
  background-color: #0E0B16;
  width: 220px;
  padding-right: 5px;
}
.divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid black;
    padding: 0;
    margin: 0;
}
.tab-button-container {
  text-align: center;
  white-space: nowrap;
  position: relative;
  border-bottom: 2px solid black;
  z-index: 1;
}
.tab-buttons {
  display: inline;
  padding: 2px;
}



div.tab-not-selected {
  font-size:12px;
  background-color: rgba(78, 77, 77, 0.74);
  padding-bottom: 8px;
}
div.tab-selected{
  font-size:12px;
  padding-bottom: 6px;
  background-color: white;
}
div.tab-not-selected, div.tab-selected {

  border-style: solid;
  border-width: 2px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-color: black;
  border-bottom: none;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  color: #0E0B16;
  font-weight: bold;
  text-align: center;
  min-width: 100px;
  display: inline-block;

}




