<div class="background">
    <form class="inputBox" [formGroup]="form">
        <span id="wantCourse"><b>Course</b></span>
        
        <div class="row"> 
            <input id="wantedCouseInput" appFormatCourseCode class="form-control" placeholder="math135, cs135..." formControlName="course" (keydown)="keydownSearchBar($event)">
            <button type="button" class="btn btn-success" (click)="submit()">Search</button>
        </div>

        <div *ngIf="error != ''" class="alert alert-danger" role="alert">
            {{error}}
        </div>
        <div>&nbsp;</div>
        <div *ngIf="result?.courseCode">
            <mat-tab-group>
                <mat-tab label="General Info">
                    <div class="tabPadding">
                        <p>{{result.courseCode}}</p>
                        <p>{{result.title}}</p>
                        <p>{{result.courseType}}</p>
                        <p>{{result.description}}</p>
                        <p *ngIf="!isObjectEmpty(result.prereq)">Required Courses:</p>
                        <div *ngFor="let item  of result.prereq | keyvalue">
                            <div *ngIf="item.value.length > 1; else allOf">One of the Following Courses: {{item.value.join(", ")}}</div>
                            <ng-template #allOf><div *ngFor="let course of item.value">{{course}}</div></ng-template>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Historical Info">
                    <div class="tabPadding">
                        <div *ngFor="let term of result.histInfo | keyvalue">
                            <p>{{term.key}} : Offered {{term.value.Count}} times in Total<br>
                                <span *ngFor="let year of term.value.termsOffered; let last = last" >{{year[1]}}<span *ngIf="!last">, </span></span>
                            </p>
                        </div>
                        <h3>List of Profs</h3>
                        <div class="profData">
                            <div class="profDataSide">
                                <div *ngFor="let prof of result.profList" (click)="seeProfHist(prof)">
                                    <button mat-button>{{prof[0]}} {{prof[1]}}: {{prof[2]}} sections & {{prof[3]}} terms</button> 
                                </div>
                            </div>
                            <div class="profDataSide">
                                <div *ngIf="profData?.profHist?.length > 0">
                                    {{profData.profHist[0][2]}} {{profData.profHist[0][3]}} taught:<br>
                                    Fall: {{profData.fall ? profData.fall: 0}} times<br>
                                    Winter: {{profData.winter ? profData.winter: 0}} times<br>
                                    Spring: {{profData.spring ? profData.spring: 0}} times<br>
                                </div>
                                <div *ngIf="profData?.profHist?.length > 0">
                                    {{profData.profHist[0][2]}} {{profData.profHist[0][3]}} was teaching during the following terms:
                                </div>
                                <span *ngFor="let termProf of profData?.profHist; let last = last" >
                                    {{termProf[0]}}<span *ngIf="!last">,</span> 
                                </span>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

    </form>
</div>
